/* Style for the form container */
.form-container {
    width: 35%; /* Increased form width */
    transition: border 0.3s ease;
}
.btn-signin {
    background-color: #D10024;
    color: aliceblue;
    border: 1px solid #D10024;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.btn-signin:hover {
    background-color: #A0001D; /* Darker shade of red */
    cursor: pointer; /* Changes cursor to pointer on hover */
}

.bg-image {
    background-image: url('../img/loginCover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }  

.mb-5{
    font-size: 20px;
    font-weight: bold;
}
.custom-check {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

#signup {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1000px) {
    .form-container {
        width: 50%; /* Adjust for medium screens */
    }
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 75%; /* Adjust for small screens */
    }
}

.text-danger, .text-success{
    display: flex;
    justify-content: center;
    font-weight: bold;
}